html { 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

.parent {
    width: 100%;
    height: 6em;
}

#shelter .parent {
    scroll-snap-align: start;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top:0;
    overflow: hidden;
}

.shelter.container {
    height: auto;
}

#row-container {
    display: flex;
    height: calc(100% - 6em);
}

#img-container {
    order: 2;
    background-color: #000000;
    height: 100%;
    width: 50%;
    z-index: -1;
    position: fixed;
    right: 0;
    top: 0;
}

.signin #img-container {
    background: radial-gradient(50% 50% at 50% 50%, #DBC9BB 0%, #AB9481 100%), #110D0B;
}

#login-file #img-container {
    background-color: #000000;
}

#background-pic3 {
    animation: float 10s ease-in-out infinite;
    pointer-events: none;
    width: 100%;
    margin-top: 5em;
}

.signin #background-pic3 {
    margin-top: 10em;
}

#left-container {
    scroll-snap-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#shelter #left-container {
    scroll-snap-align: none;
}


#second-one {
    scroll-snap-align: start;
    padding-bottom: 2em;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /*margin-left: 10%;*/
    justify-content: center;
}

.left-side > * {
    padding-left: 100px;
}

.shelter .left-side input:not(#do-not-logout),  .shelter .left-side a, .shelter .left-side button{
    margin-left: 100px;
}

.personal .left-side {
    justify-content: start;
    padding-top: 0.5em;
}

.shelter .left-side#first-one {
    min-height: calc(100vh - 6em);
    justify-content: start;
}

.shelter .left-side#second-one {
    min-height: 100vh;
}

.shelter .left-side {
    height: auto;
}

#main-text {
    font-size: 44px;
    width: 70%;
    color: #000000;
}

#main-text b{
    font-weight: 500;
    font-size: 44px;
    color: #000000;
}

.shelter #main-text {
    width: 90%;
    font-size: 35px;
}

.shelter #main-text b{
    font-size: 35px;
}

.text-input {
    margin-top: 1em;
    font-weight: 600;
    font-size: 16px;
    color: #676767;
}

form {
    margin-top:1em;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.input-with-border {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 35px;
    padding: 1em;
    width: 80%;
    font-weight: 600;
    font-size: 14px;
}

#input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input-with-border:focus {
    outline-color: #000000;
}

#password-input:focus{
    outline: none;
}

#password-input {
    border: none;
    background:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D0D0D0;
    opacity: 1; /* Firefox */
    font-weight: 600;
    font-size: 13px;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D0D0D0;
    font-weight: 600;
    font-size: 13px;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #D0D0D0;
    font-weight: 600;
    font-size: 13px;
}

.far.fa-eye {
    color: #D0D0D0;
    font-size: 18px;
    margin-left: -3em;
}

.far.fa-eye:hover {
    color: #B4B4B4;
}

.logout-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

#logout-div {
    font-weight: 600;
    font-size: 11px;
    color: #676767;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout-container a {
    font-weight: normal;
    font-size: 11px;
    text-decoration: none;
    color: #484848;
}

#log-in {
    margin-top: 2em;
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    border-radius: 20px;
    border:none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    padding: 1em;
    width: 80%;
}

#log-in:hover {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
}

#no-account {
    width: 48%;
    margin-top: 1em;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    color: #909090;
}

#no-account a {
    font-weight: 600;
    text-decoration: none;
    color: #909090;
}

.signin #no-account {
    text-align: left;
}

.pics img{
    animation: float 20s ease-in-out infinite;
    width: 100%;
    bottom: -20px;
    position: absolute;
    opacity: 0.2;
    height: 80%;

}

.pics img:first-of-type {
    animation: float 5s ease-in-out infinite;
    z-index: 100;
    height: 50%;
}

.pics img:nth-child(2) {
    animation: float 10s ease-in-out infinite;
    height: 75%;
}

#accept-terms {
    font-weight: normal;
    font-size: 10px;
    padding-left: 1em;
}

#scroll-down {
    margin-top: 2em;
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    border-radius: 40px;
    border:none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(196, 196, 196, 0.57));
    padding: 1em;
    width: 2em;
    text-align: center;
}

#scroll-down:hover {
    filter: drop-shadow(0px 10px 20px rgba(145, 145, 145, 0.7));
}

#scroll-up {
    margin-top: 2em;
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    opacity: 0.5;
    border-radius: 40px;
    border:none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(196, 196, 196, 0.57));
    padding: 0.5em;
    width: 2em;
    text-align: center;
}

#scroll-up:hover {
    filter: drop-shadow(0px 10px 20px rgba(145, 145, 145, 0.7));
}

.no-valid {
    color: #982f2f;
    border-color: #982f2f;
}

/*signIn*/

#choose-type-container {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
    align-content: space-between;

}

#personal-account,#shelter-account {
    background: rgba(255, 255, 255, 0.7);
    width: 45%;
    height: 8em;
    border: 1px solid #DEDEDE;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    font-weight: normal;
    color: #484848;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.13));
}

#personal-account img,#shelter-account img {
    width: 70%;
    margin: -2em auto 1em;
}

#personal-account:hover ,#shelter-account:hover {
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.22));
}

.person  a, .person a:visited, .person a:link{
    color: #3b3b3b;
    border: 1px #3b3b3b solid;
    padding: 0.5em 1em;
    border-radius: 30px;
    margin-top: 1em;
    display: inline-block;
    width: 30%;
    text-align: center;
}

.person a:hover {
    color: #000;
    border: 1px #000 solid;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {

    #row-container {
        flex-direction: column;
    }
    #img-container {
        position: initial;
        width: 100%;
        height: 40%;
        text-align: center;
        overflow: hidden;
    }

    .personal #img-container {
        display: none;
    }

    .personal .left-side {
        height: 100%;
        justify-content: center;
    }

    .left-side {
        width: 100%;
        height: 60%;
        align-items: center;
        padding: 2em 0;
    }

    .left-side > * {
        padding-left: 0;
    }

    #main-text {
        font-size: 25px;
        text-align: center;
    }

    #main-text b{
        font-size: 25px;
    }

    form {
        width: 80%;
    }

    #log-in {
        margin-right: auto;
        margin-left: auto;
    }

    form > * {
        text-align: center;
        margin: auto;
    }

    .pics {
        display: none;
    }

    #background-pic3 {
        /*height: 100%;*/
        width: 100%;
        overflow: hidden;
        margin: 0 !important;
    }

    #choose-type-container {
        width: 70%;
    }

    .signin .text-type {
        font-size: 12px;
    }

    .signin #no-account {
        text-align: center;
    }

    .shelter #left-container {
        align-items: center;
    }

    .shelter .left-side *:not(#do-not-logout, button) {
        margin-left: 0 !important;
        text-align: center;
    }

    .shelter #first-one {
        scroll-snap-align: start;
    }

    .shelter #img-container {
        display: none;
    }

    .person a, .person a:visited, .person a:link {
        width: 90%;
    }

    @media only screen and (max-height: 720px) {
        #main-text {
            font-size: 20px;
            text-align: center;
        }

        #main-text b{
            font-size: 20px;
        }

        #img-container {
            display: none;
        }

        .left-side {
            height: 100%;
        }
        form {
            width: 90%;
        }
    }

    @media only screen and (min-width: 700px) {
        #main-text {
            font-size: 30px;
            text-align: center;
        }

        #main-text b{
            font-size: 30px;
        }

       form {
           width: 50%;
       }

        .left-side {
            height: 50%;
        }

        #img-container {
            height: 50%;
        }

        .shelter #img-container {
            display: none;
        }

        .shelter #first-one {
            justify-content: center !important;
            padding: 0 !important;
        }

        #img-container img {
            top: -5em;
            position: relative;
        }

        #choose-type-container {
            width: 50%;
        }

        .signin #no-account {
            font-size: 16px;
        }

        .signin .text-type {
            font-size: 16px;
        }

        .personal #img-container {
            display: initial;
            height: 30%;
        }
        .personal #img-container img {
            top: -10em;
        }

        .personal .left-side {
            height: 70%;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    #main-text {
        font-size: 30px;
    }

    #main-text b{
        font-size: 30px;
    }

    .text-input {
        font-size: 14px;
    }

    form {
        width: 70%;
    }

    .signin .text-type {
        font-size: 12px;
    }
}