body {
    -webkit-tap-highlight-color: transparent;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    top: 0;
    height: 6em;
}

nav img{
    padding-left: 4em;
}

.parent#not-sticky{
    background-color: white;
}

.login-container {
    padding-right: 4em;
}

.login-container i {
    padding: 0 2em;
}

.light *{
    color: #3b3b3b !important;
}

.dark *{
    color: #8a8a8a !important;
}
.dark #signup {
    border: 1px solid #8a8a8a;
}

.light #signup {
    border: 1px solid #3b3b3b;
}

.light #signup:hover {
    border: 1px solid #000000;
}

#signup {
    border: 1px solid rgba(255, 255, 255, 0.267);
    box-sizing: border-box;
    border-radius: 1em;
    padding: 0.5em 1.2em;
    margin-left: 2em;
}

#signup:hover {
    border: 1px solid white;
}

a:link, a:visited {
    color: rgb(216, 216, 216);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: normal;
}

a:hover, a:active {
    color: white;
}

.mobile {
    display: none !important;
}

#myLinks {
    display: none;
}

#myLinks * {
    display: none;
}

.hamburger {
    display: none;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 600px) {

    nav {
        justify-content: center !important;
        align-items: end !important;
        flex-direction: column;
        height: auto;
    }

    nav img {
        padding: 0 !important;
        align-self: center;
    }

    nav > a:first-child {
        align-self: center;
        order: 2;
    }

    .desktop {
        display: none !important;
    }

    .login-container {
        padding: 0;
    }

    .mobile {
        display: block !important;
        cursor: pointer;
        padding: 0 !important;
        margin-right: 2em;
        z-index: 100;
    }

    #myLinks * {
        display: block;
    }

    #myLinks a:not(#login, #signup) {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 2em;
        width: 50%;
        justify-content: space-between;
    }

    #signup {
        margin-left: 0;
        margin-top: 2em;
    }

    #myLinks {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 3s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        padding-top: 4rem;
        margin: 0;
        padding-left: 0;
    }

    .mobile-link {
        text-align: right !important;
        font-size: 14px;
        padding: 0;
    }


    .hamburger {
        display: initial;
        margin-right: 1em;
        width: 2em;
        height: 15px;
        z-index: 100;
    }

    .hamburger div {
        position: relative;
        width: 1.5em;
        height: 2px;
        border-radius: 3px;
        background-color: #a1a1a1;
        margin-top: 5px;
        transition: all 0.3s ease-in-out;
    }

    #toggle {
        display: none;
    }

    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }
    #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }
    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -2px;
    }

    #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
    }

}
