html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

form {
    z-index: 200;
}
#scroll-form #choose-type-form {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#scroll-form #choose-type-form::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;

    z-index: 100;
}

#main-container .parent {
    position:initial;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    top:0;
}

#img-container {
    order: 2;
    background-color: #E6E6E6;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-post #img-container{
    justify-content: start;
}

#add-post #img-container{
    background: #eeeeee;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-bottom: 7%;
    margin-left: 10%;
    justify-content: center;
}

#main-text {
    font-size: 44px;
    width: 90%;
    color: #000000;
}

#main-text b{
    font-weight: 500;
    font-size: 44px;
    color: #000000;
}

.text-below {
    width: 70%;
    font-weight: 300;
    font-size: 18px;
    color: #484848;
}

#checkboxes {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-content: space-between;
}

.left-side #checkboxes {
    margin-top: 3em;
}

.whatever{
    background: #ffffff;
    width: 7em;
    height: 6em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 13px;
    color: #8c8c8c;
}

#scroll-form .whatever {
    width: 7em;
    height: 4em;

}

.left-side .whatever {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));
}

#checkboxes input[type=checkbox],#checkboxes input[type=radio]{
    display: none;
}

.whatever:first-of-type {
    margin-left: 0;
}

.whatever img {
    margin-top: -2em;
    margin-bottom: 0.5em;
}

#checkboxes input[type=checkbox]:checked + .whatever, #checkboxes input[type=radio]:checked + .whatever {
    background-color: #8F6F55;
    color: #ffffff;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.22));
}

#scroll-form #checkboxes input[type=checkbox]:checked + .whatever, #scroll-form #checkboxes input[type=radio]:checked + .whatever {
    filter: none;
}

/* form styling */

#choose-type-form {
    width: 65%;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.09));
}

#choose-type-form > * {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#scroll-form {
    width: 100%;
    justify-content: center;
}

#scroll-form #choose-type-form {
    display: flex;
    height: 6em;
    width: 85%;
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin: auto;
    padding: 1em 0;
    align-content: center;
    align-items: center;
}

#scroll-form #choose-type-form * {
    cursor: pointer;
}

#scroll-form #choose-type-form > div {
    flex-direction: row;
    width: auto;
    padding: 0 1em;
    max-width: 30em;
    min-width: 15em;
}

#scroll-form #choose-type-form > div:first-child {
    min-width: 25em;
}

#scroll-form #choose-type-form > #Lokalizacja {
    min-width: 25em;
}

.input-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #939393;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    font-weight: 600;
    font-size: 12px;
    color: #484848;
    outline: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    background: #FFFFFF;
    border-radius: 35px;
    height: 3em;
    padding-left: 2em;
    font-weight: 600;
    font-size: 14px;
    color: #C6C6C6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #484848;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

#filter .select {
    border: 1px solid #C9C9C9;
}

#filter select {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #969696;
}

#gender #checkboxes{
    margin-top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#gender #checkboxes .whatever i {
    padding-right: 1em;
    font-size: 20px;
}

#gender #checkboxes .whatever{
    flex-direction: row;
    width: 45%;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    font-weight: 600;
    font-size: 12px;
    height: 3em;
}

.local-container, .name-container, .weight-container, .desc-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.local-container input[name="local"], .name-container input[name="name-animal"],  .weight-container input[name="weight"], .desc-container textarea[name="post-desc"]{
    width: 60%;
    height: 3em;
    border:none;
    border-radius:35px;
    padding-left: 2em;
    font-weight: 600;
    font-size: 12px;
    color: #484848;
}

.local-container input[name="local"]::placeholder, .name-container input[name="name-animal"]::placeholder,  .weight-container input[name="weight"]::placeholder, .desc-container textarea[name="post-desc"]::placeholder {
    font-weight: 600;
    font-size: 12px;
    color: #C6C6C6 !important;
}

.desc-container textarea[name="post-desc"]  {
    padding-top: 1em;
    height: 10em;
    font-family: 'Poppins';
    font-size: 12px;
}

.local-container select {
    color: #484848;
    font-weight: 600;
}

.local-container .select {
    width: 20%;
}

.full-width {
    width: 100% !important;
}

#color {
    display: flex;
    flex-direction: column;
}

#color #checkboxes {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3em;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 2em;
    box-sizing: border-box;
    border-radius: 35px;
}

#color .whatever {
    width: 1.5em;
    height: 1.5em;
    background-color: #ffffff;
    border-radius: 5px;
    margin:0;
    padding:0em;
}

#color .whatever[for="black"] {
    background-color: #000000 !important;
}

#color .whatever[for="gray"] {
    background-color: #C4C4C4 !important;
}

#color .whatever[for="brown"] {
    background-color: #855D39 !important;
}

#color .whatever[for="orange"] {
    background-color: #CF8936 !important;
}

#color .whatever[for="white"] {
    background-color: #ffffff !important;
    border: 1px solid #E1E1E1;
}

#color .whatever[for="all"] {
    background: conic-gradient(from 180deg at 50% 50%, #C84242 0deg, #FFB038 61.87deg, #499E52 127.5deg, #2B8BD0 245.62deg, #D645C7 348.75deg, #C84242 360deg);
}

#color #checkboxes input[type=checkbox]:checked + .whatever, #color #checkboxes input[type=radio]:checked + .whatever {
    width: 2em;
    height: 2em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

#input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#input-container input[type="checkbox"], #input-container input[type="radio"]  {
    display: none;
}

#input-container #range-container {
    width: 60%;
    background-color: #ffffff;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 0.2em;
    border-radius: 5px;
    background: #f1f1f1;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: #8F6F55;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: #8F6F55;
    cursor: pointer;
}
#input-container #checkboxes {
    width: 30%;
}
#input-container .whatever {
    border-radius: 35px;
    height: 3em;
    width: 100%;
}

#size {
    display: flex;
    flex-direction: column;
}

#size #checkboxes {
    width: 100%;
}

#size #checkboxes .whatever {
    height: 3em;
    width: 30%;
    border-radius: 30px
}

#file {
    display: flex;
    flex-direction: column;
}

#file .fa-plus {
    color: #ffffff;
    background-color: #000000;
    padding: 0.5em 0.7em;
    border-radius: 30px;
}

#file-name {

    font-size: 10px;
    color: #919191;
    overflow: hidden;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: #ffffff;
    border-radius: 35px;
    padding: 6px 12px;
}

a {
    text-decoration: none;
}

#button-container {
    align-items: center;
}

#scroll-down {
    margin-top: 2em;
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    border-radius: 40px;
    border:none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(196, 196, 196, 0.57));
    padding: 1em;
    width: 2em;
    text-align: center;
}

#scroll-form #scroll-down {
    margin-top: 0 !important;
}

#scroll-down:hover {
    filter: drop-shadow(0px 10px 20px rgba(145, 145, 145, 0.7));
}

#scroll-up {
    margin-top: 2em;
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    opacity: 0.5;
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(196, 196, 196, 0.57));
    height: 2em;
    width: 3em;
    display: flex;
    justify-content: center;
    margin: auto;
}

#scroll-up:hover {
    filter: drop-shadow(0px 10px 20px rgba(145, 145, 145, 0.7));
}

#search .parent {
    background-color: white;
    box-shadow: 0px 4px 30px rgba(202, 202, 202, 0.43);
}

#filter-div {
    display: flex;
    padding: 1em 1em;
    justify-content: end;
}

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    grid-gap: 1em;
}

#posts .post {
    cursor: pointer;
    margin: 2em 0;
    width: 20%;
    min-width: 17em;
    height: 25em;
    border-radius: 0.6em;
    overflow: hidden;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));
    background: linear-gradient(178.42deg, rgba(245, 242, 241, 0.5) 1.26%, rgba(255, 255, 255, 0.5) 98.61%);
}

#posts .post:hover {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.3));
}

#posts:not(.fav) > div:first-child {
    width: 45%;
}

.post .post-image img{
    width: 100%;
    height: 15em;
    object-fit: cover;
    filter: drop-shadow(0px 4px 20px rgba(171, 148, 129, 0.28));
    border-radius: 0.2em;
}

.first-post {
    display: flex;
    flex-direction: row;
}

.first-post #first-column {
    width: 50%;
}

.first-post #second-column {
    width: 50%;
}

.first-post #second-column > * {
    margin: 0 2em;
}
.post-informations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 254, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 0px 20px 20px 0px;
    margin-top:-2em;
    padding: 0.5em 0;
    width: 80%;
}

.post-name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.woman, .man {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.09));
    background: #BD88B2;
    height: 2.2em;
    width: 2.2em;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.man {
    background: #4678C5 !important;
}

.post-rest {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.post-rest .first-line, .second-line {
    display: flex;
    margin-top: 0.5em;
    flex-direction: row;
    justify-content: space-evenly;
}


.post-localization {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 35px;
    width: 10em;
    height: 4em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #484848;
}

.post-localization .post-text {
    margin-left: 1em;
}

.fa-map-marker-alt{
    height: 2em;
    width: 2em;
    font-size: 14px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 2em;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.post-age, .post-size, .post-health {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0 2em;
    margin-left: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #484848;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.age-value {
    font-size: 12px;
    color: #656565;
}

.post-size, .post-health {
    border: none;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.09));
    text-align: center;
}

.post-date {
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #C4C4C4;
    margin-left: 2em;
    margin-top: 1em;
}

#post-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    padding-top: 1em;
}

#post-description {
    font-style: normal;
    font-weight: normal;
    margin-left: 32px !important;
    font-size: 12px;
    color: #484848;
}

#map-container {
    margin-top: 1em !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));
    padding: 0.5em;

}

#map-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;

}

#map-text #shelter-name {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #484848;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

#map-text #shelter-address {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #484848;
}

#map-container .fa-map-marker-alt {
    background: rgba(201, 201, 201, 0.6);;
}

#icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 10px rgba(171, 148, 129, 0.28));
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    border-radius: 25px;
    height: 2em;
    width: 4em;
}

#icon-container i {
    color: #ffffff;
}

#icon-container:hover {
    filter: drop-shadow(0px 4px 10px rgba(42, 42, 42, 0.28));
}

#post-graph {
    margin-top: 1em !important;
    display: flex;
    flex-direction: column;
}

#post-graph > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

.graph-description {
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    text-align: right;
    color: #484848;
}

.bar {
    background: rgba(145, 145, 145, 0.13);
    border-radius: 12px;
    height: 0.7em;
    width: 8em;
}

.progress-bar {
    width: 50%;
    height: 0.7em;
    background: linear-gradient(90deg, #000000 0%, #484848 99.66%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

#two-rows {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#post-first-column {
    width: 50%;
    height: 100%;
}

#container-info {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

#container-info .content {
    width: 60%;
}

#container-info #post-graph {
    width: 40%;
}

#photo-container {
    margin-top: 3em;
    text-align: center;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.13));
}

#photo-container img{
    width: 80%;
    height: 25em;
    object-fit: cover;
    border-radius: 10px;
}

#post-second-column {
    width: 50%;
    padding-top: 2em;
}

#post-second-column > * {
    margin: 0 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-full-name {
    font-weight: 500;
    font-size: 36px;
    width: 80%;
    color: #484848;
}

.post-full-name #brown-text {
    color: #8F6F55;
}

.post-full-decription {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #909090;
    width: 80%;
    margin-top: 1em !important;
}

.fav .fa-heart {
    font-size: 24px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.18));
    color: #484848;
    margin-right: 3em;
    cursor: pointer;
}

.round-icon {
    height: 3em;
    width: 3em;
    background: #B8B8B8;
    border-radius: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
}

#contact {
    margin-top: 2em !important;
    width: 75%;
}

#contact .round-icon{
    display: flex;
}

#choose-visit {
    color: #ffffff;
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.33);
    border-radius: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    padding: 0 2em;
    flex-wrap: wrap;
}

#choose-visit-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-left: 1em;
}
#nav-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#nav-first .fa-map-marker-alt {
    background: #B8B8B8;
    width: 2.5em;
    height: 2.5em;
}

#nav-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
}

#nav-first div{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #484848;
    margin-left: 1em;
}

#nav-first div:first-child{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #484848;
}

#map {
    width: 17em;
    z-index: -100 !important;
    margin-top: 3em;
    cursor: pointer;
}

#main-text-fav {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    width: 100%;
}

#main-text-title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    padding-left: 100px;
}

#main-text-desc {
    width: 40%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #484848;
    padding-left: 100px;

}

#posts .fa-heart {
    position: fixed;
    z-index: 100;
    color: #ffffff;
    margin-left: -1.5em;
    margin-top: 0.5em;
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.83));
}

.fav .local-container input[name="local"],.fav .name-container input[name="name-animal"],.fav  .weight-container input[name="weight"],.fav .desc-container textarea[name="post-desc"] {
    width: 100%;
}

.container#add-post {
    height: 200vh;
    flex-direction: row-reverse;
}

#add-post .left-side {
    position: fixed;
    height: 100vh;
    margin-left: 0 !important;
    left: 0;
}

#add-post .left-side > * {
    margin-left: 10%;
}
#add-post #first-one > * {
    padding: 0.5em;
}
#first-one {
    scroll-snap-align: start;
    height: 100vh;
    justify-content: center;
}

#first-one #button-container {
    display: flex;
    justify-content: center;
}

#second-one {
    padding-top:6em;
}

#second-one > * {
    scroll-snap-align: start;
    padding-top: 1em;
}

#log-in {
    margin-top: 2em;
    background: linear-gradient(90deg, #303030 0%, #000000 100%);
    border-radius: 20px;
    border:none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(201, 201, 201, 0.76));
    padding: 1em;
    width: 48%;
}

#log-in:hover {
    filter: drop-shadow(0px 10px 20px rgba(158, 158, 158, 0.76));
}

#second-one #log-in {
    margin-top: 3em !important;
    width: 60%;
    margin:auto;
}

.delete {
    font-size: 12px;
    color: #ffffff;
    margin-top: 1em !important;
    font-weight: 500;
    cursor: pointer;
    background-color: #b0b0b0;
    padding: 0.5em 1em;
    display: inline-block;
    border-radius: 30px;
}

.delete i {
    padding-left: 0.5em;
}

@media only screen and (max-width: 800px) {
    #main-text-fav {
        align-items: center;
    }

    #main-text-fav * {
        padding-left: 0 !important;
        text-align: center;
    }

    #main-text-title {
        font-size: 25px;
    }

    #main-text-desc {
        font-size: 14px;
        width: 80%;
    }

    .first-post {
        width: 20% !important;
    }

    .first-post #first-column {
        width: 100% !important;
    }

    .first-post #second-column {
        display: none !important;
    }
}

@media only screen and (min-width: 800px){
     #posts:not(.fav) > div:first-child {
         min-width: 600px;
     }
 }

@media only screen and (min-width: 800px) and (max-width:992px) {
    #main-text-fav {
        align-items: center;
        text-align: center;
    }

    #main-text-fav * {
        padding-left: 0 !important;
    }

    #main-text-title {
        font-size: 35px;
    }

    #main-text-desc {
        font-size: 16px;
        width: 60%;
    }
}

@media only screen and (max-width: 992px) {
    #search #two-rows {
        flex-direction: column;
        align-items: center;
    }

    #search #two-rows > * {
        width: 90%;
    }

    #search #post-second-column {
        width: 80%;
        padding-top: 4em;
    }

    #search #photo-container img{
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    #search #container-info {
        flex-direction: column;
        align-items: start;
    }

    #search .content {
        width: 100%;
    }

    #search #post-graph {
        width: 60%;
        align-self: center;
    }

    #container-info {
        width: 100%;
    }

    #search .post-informations {
        max-width: 400px;
    }

    #search #post-second-column *{
        margin: 0;
    }

    #search .post-full-name {
        font-size: 25px;
    }

    #search .post-full-decription {
        font-size: 14px;
        width: 100%;
    }

    #search #contact {
        width: 100%;
        font-size: 14px;
    }

    #search #choose-visit-text {
        font-size: 10px;
    }

    #search #choose-visit {
        padding: 0 1em;
    }

    #search #nav-container {
        margin: 3em 0;
        flex-direction: column;
    }

    #search #nav-container div {
        margin-left: 1em;
    }

    #choose .parent {
        scroll-snap-align: start;
        position: initial;
    }

    #choose .container {
        flex-direction: column;
        height: auto;
    }

    #choose .left-side {
        position: initial;
        scroll-snap-align: start;
        width: 100%;
        height: auto;
        margin: 4em 0;
    }

    #choose #choose-type-form {
        width: 80%;
    }

    #choose #img-container {
        width: 100%;
        padding-bottom: 4em;
        height: auto;
    }

    #choose .left-side {
        align-items: center;
    }

    #choose #main-text {
        margin: 0;
        text-align: center;
    }

    #choose #main-text b{
        font-size: 30px;
    }

    #choose .text-below {
        font-size: 14px;
        width: 70%;
        text-align: center;
        margin: 0;
    }

    #choose .left-side #checkboxes {
        margin-left: 0;
        width: 80%;
    }

    #choose #first-one {
        padding-top: 2em;
        height: auto;
    }

    #choose .graph-container {
        width: 100%;
    }

    #choose #graph {
        grid-gap: 0.5em;
    }

    #choose #add-post #first-one > * {
        padding: 0;
    }


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 700px) {
        #search #nav-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        #choose .graph-container {
            width: 45%;
        }

        #choose #graph {
            justify-content: space-between;
        }

        #choose .text-below {
            font-size: 16px;
            width: 50%;
        }

        #choose #main-text b{
            font-size: 40px;
        }

    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    #search #photo-container img{
        height: 20em;
    }

    #search .post-full-name {
        font-size: 30px;
    }

    #search .post-full-description {
        font-size: 14px;
    }

    #search #choose-visit-text {
        font-size: 12px;
    }

    #search #nav-first *{
        font-size: 12px !important;
    }

    #search #nav-first i {
        width: 3em;
    }

    #choose .text-below {
        font-size: 12px;
        width: 70%;
    }

    #choose #main-text b{
        font-size: 30px;
    }
}